
<div class="row">
    <div class="col-5 table-btn">
        <a class="btn btn-primary" href="{{ urlfor `UserController.Add` }}">新建</a>
    </div>
    <div class="col-2">
        {{ if .flash.success }}
        <div class="alert alert-success" role="alert">
            {{ .flash.success }}
        </div>
        {{ end }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th>用户名</th>
                    <th>性别</th>
                    <th>地址</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{ range .users }}
                    <tr>
                        <td>{{ .Name }}</td>
                        <td>{{ if .Sex }}男{{ else }}女{{ end }}</td>
                        <td>{{ .Addr }}</td>
                        <td>
                            <a class="btn btn-sm btn-warning">编辑</a>
                            <a class="btn btn-sm btn-danger" href="{{ urlfor `UserController.Delete` }}?id={{ .ID }}">删除</a>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
