<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户登陆</title>
        <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap-4.5.3/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/auth.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-4 offset-4">
                    <div class="login-form shadow-lg p-3 mb-5 bg-white rounded">
                        <h2 class="text-center">用户登陆</h2>
                        <hr />
                        <form action="{{ urlfor `AuthController.Login` }}" method="post">
                            <input type="hidden" value="{{ .xsrf_token }}" name="_xsrf" />
                            <div class="form-group">
                                <label class="sr-only">用户名: </label>
                                <input class="form-control" name="username" type="text" placeholder="用户名" value="{{ .form.Username }}" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only">密码: </label>
                                <input class="form-control"  name="password" type="password" placeholder="密码"  value="" />
                            </div>
                            {{ if .errors.default }}
                            <p class="text-danger">{{ index .errors.default 0 }}</p>
                            {{ end }}
                            <div class="form-group">
                                <input class="btn btn-primary btn-block" type="submit" value="登陆" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>