<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> LOG ANALYZER HOME </title>
    </head>
    <body>
        <h3> LOG ANALYZER HOME </h3>
        <a href="/uploadPage/">1. Upload a file</a>
        <p>LogFormat: 'remote_addr - remote_user [$time_local] "request" status body_bytes_sent "http_referer" "$http_user_agent" "$http_x_forwarded_for"'</p> 
        <p>LogFormat: '220.181.108.91 - - [09/Dec/2020:10:11:42 +0800] "GET /tags/mysql/ HTTP/1.1" 200 7315 "-" "Mozilla/5.0 (compatible; Baiduspider/2.0; +http://www.baidu.com/search/spider.html)" "-"'</p> 
        <br/>
        <a href="/resultPage/">2. Get the analyse result</a>
    </body>
</html>
