<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>我的第一个页面</title>
	</head>
	<body>
		<!-- 我是注释 -->
		我叫kk
		<form action="" method="GET">
			<label>姓名</label><input name="username" type="text" value="kk"/> <br/>
			<label>密码</label><input name="password" type="password" /> <br/>
			<label>性别</label>
				<input type="radio" name="sex" value="1" checked="checked"/><label>男</label>
				<input type="radio" name="sex" value="0" /><label>女</label> <br/>
			<label>爱好</label>
				<input type="checkbox" name="hobby" value="1" /><label>足球</label>
				<input type="checkbox" name="hobby" value="2" checked="checked"/><label>篮球</label>
				<input type="checkbox" name="hobby" value="3" /><label>乒乓球</label><br/>
			<label>部门</label>
			<select name="department">
				<option value="dev">开发</option>
				<option value="test" selected="selected">测试</option>
				<option value="ops">运维</option>
			</select> <br/>
			<label>备注</label>
				<textarea name="remark">我叫....</textarea>
			<input type="submit" value="登陆" /><br/>
			<input type="button" value="button" /><br/>

			<button type="button">button按钮</button><br/>
			<button type="submit">submit</button><br/>
		</form>

		<div>块1</div>
		<div>块2</div>
		<span>SPAN 1</span>
		<span>SPAN 2</span>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>姓名</th>
					<th>位置</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>05</td>
					<td>卫智鹏</td>
					<td>上海</td>
				</tr>
				<tr>
					<td>98</td>
					<td>老张</td>
					<td>成都</td>
				</tr>
				<tr>
					<td>29</td>
					<td>李彬</td>
					<td>北京</td>
				</tr>
			</tbody>
		</table>
		<ol>
			<li>洗衣服</li>
			<li>做饭</li>
			<li>看电视</li>
		</ol>
		<ul>
			<li>洗衣服</li>
			<li>做饭</li>
			<li>看电视</li>
		</ul>
		<h1>1级</h1>
		<h2>2级</h2>
		<h3>3级</h3>
		<h4>4级</h4>
		<h5>5级</h5>
		<h6>6级</h6>
		<p>第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段第一段</p>
		<p>第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段第二段</p>
		<a href="http://www.baidu.com" target="_blank">百度</a>
		<img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1606555845&di=69a2d1edde4c03ad318c7304ace45424&src=http://pic1.win4000.com/pic/4/d4/12621298581.jpg" />
	</body>
</html>