<!DOCTYPE html>
<html lang="utf8">
    <head>
        <meta charset="utf8">
        <title>create user</title>
    </head>
    <body>
        {{ .Err }}
        id ==> {{ .ID }}
        <form action="/modify?id={{ .ID }}" method="POST">
            <div>
                用户名：<input type="text" name="name" value="{{ .Name }}" placeholder="username">
            </div>
            <div>
                密码：<input type="password" name="passwd" value="{{ .Passwd }}" value="">
            </div>
            <div>
                性别: 
                男 <input type="radio" name="sex" value="true" {{ if eq .Sex true }}checked{{end}}> 
                女 <input type="radio" name="sex" value="false" {{ if eq .Sex false }}checked{{end}} >
            </div>
            <div>
                address : <input type="text" name="addr" value="{{ .Addr }}">
            </div>
            <div>
                tel: <input type="text" name="tel" value="{{ .Tel }}">
            </div>
            <div>
                brithday: <input type="text" name="brithday" value="{{ .Brithday }}" placeholder="2020/01/01">
            </div>
            <input type="submit" value="提交">
        </form>
    </body>
</html>