<!DOCTYPE html>
<html lang="utf8">
    <head>
        <meta charset="utf8"/>
        <title>用户列表</title>
        <link rel="stylesheet" type="text/css" href="/static/vender/bootstrap-4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/list.css">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    </head>
    <body>
        {{ template "./nav/nav.html" . }}
        <div class="container-fluid">
            <div class="col-12">
                {{ if .error }}
                <div>{{ .error }}</div>
                {{ end }}
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>性别</th>
                            <th>管理员</th>
                            <th>电话</th>
                            <th>地址</th>
                            <th>生日</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .users }}
                        <tr>
                            <td>{{ .ID }}</td> 
                            <td>{{ .Name }}</td>
                            <td>**********</td>
                            <td>{{ if eq true .Sex }}男{{ else }}女{{ end }}</td>
                            <td>{{ if eq true .Admin }}YES{{ else }}NO{{ end }}</td>
                            <td>{{ .Tel }}</td>
                            <td>{{ .Addr }}</td>
                            <td>{{ .Brithday }}</td> 
                            <td>
                                <a class="btn btn-sm btn-warning" href="/user/modify?id={{ .ID }}">修改</a>
                                <a class="btn btn-sm btn-danger" href="{{ urlfor `UserController.Delete` }}?id={{ .ID }}">删除</a>
                                <a class="btn btn-sm btn-info"href="/permission/setting?id={{ .ID }}">修改用户权限</a>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>