<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<form action="/usermanager/add" method="POST">
    <label>姓名</label><label>
        <input name="username" type="text" value=""/>
    </label> <br/>
    <label>密码</label><label>
        <input name="password" type="password" />
    </label> <br/>
    <label>性别</label>
    <label>
        <input type="radio" name="sex" value="1" checked="checked"/>
    </label><label>男</label>
    <label>
        <input type="radio" name="sex" value="0" />
    </label><label>女</label> <br/>
    <label>电话</label><label>
        <input name="tel" type="text" value=""/>
    </label> <br/>
    <label>生日</label><label>
        <input name="brth" type="text" value="1990-10-01"/>
    </label> <br/>
    <label>地址</label><label>
        <input name="addr" type="text" value=""/>
    </label> <br/>
    <input type="submit" value="添加" /><br/>
</form>
</body>
</html>