<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查找用户</title>
</head>
<body>
<form action="/query" method="POST">
    <label>
        <input type="text" placeholder="请输入关键字..." name="querystr" />
    </label>
    <button>搜索</button>
</form>
{{if .Ok}}
    <style>
        table,table tr th, table tr td { border:1px solid #0094ff; }
        table { width: 500px; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse;}
    </style>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>地址</th>
        <th>电话</th>
        <th>生日</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{.Ud.Id}}</td>
            <td>{{.Ud.Name}}</td>
            <td>{{.Ud.Addr}}</td>
            <td>{{.Ud.Tel}}</td>
            <td>{{.Ud.Birthday.Format "2006-01-02"}}</td>
        </tr>
    </tbody>
</table>
    <input type="button" value="返回主页" onclick="javascrtpt:window.location.href='/'">
{{end}}
</body>
</html>