<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
		<title> Home </title>
		<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap-4.5.3/css/bootstrap.min.css">
	</head>
	<body >
		<!-- nav -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Link</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Dropdown
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Action</a>
		          <a class="dropdown-item" href="#">Another action</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a>
		        </div>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
		<!-- nav -->

		<h1> USER MANAGEMENT </h1>
	    <p>A simple user management system based on beego.</p>
		<h2>Personal blog: <a href="https://www.suosuoli.cn" target="_blank">suosuoli.cn</a></h2>

        <a type="button" class="btn btn-primary btn-lg" href="/user/create/">Creat New User</a>
		<a type="button" class="btn btn-primary btn-lg" href="/user/query/">Query User</a>

	    <table  class="table table-striped table-responsive-lg table-bordered border-danger table-hover">
            <thead class="table-dark">
	          <tr>
	              <th scope="col" >ID</th>
	              <th scope="col" >Name</th>
				  <th scope="col" >Sex</th>
	              <th scope="col" >Address</th>
	              <th scope="col" >Cell</th>
	              <th scope="col" >Born</th>
				  <th scope="col" >Password</th>
				  <th></th>
				  <th></th>
	          </tr>
            </thead>
            <tbody style="background-color: #eee;">
	            {{ range .users }}
	            <tr>
	                <td>{{ .ID }}</td>
	                <td>{{ .Name }}</td>
                    <td>{{ if eq .Sex 1 }} male {{ else }} female {{ end }}</td>
	                <td>{{ .Address }}</td>
	                <td>{{ .Cell }}</td>
	                <td>{{ .Born }}</td>
					<td>{{ .Password }}</td>
					<td>
                        <a class="btn btn-warning" href="/user/edit/?id={{ .ID }}" role="button">Edit</a>
                    </td>
                    <td>
                        <!-- Do you really want to submit the form? -->
		    		    <form action="/user/delete/?id={{ .ID }}" onsubmit="return confirm('Are you sure to delete user {{ .Name }} by id {{ .ID }} ?');" method="POST">
		    			<button class="btn btn-danger" type="submit" formmethod="POST" >Delete</button>
		    			</form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        
	</body>
