<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap-4.5.3/css/bootstrap.min.css">
    </head>
    <body>
		<div class="container shadow-lg bg-white rounded w-50 mt-5">
		    <div class="shadow-lg p-2 bg-white rounded mt-5">
            	<h2 class="text-primary text-center">USER LOGIN</h2>
		    </div>
        	<div class="container mt-5 shadow-lg w-100 p-3 mb-5 bg-white rounded" style="background-color:#bfa; padding:20px 20px;">
        	    <form action="/auth/login/" method="POST">
                    <input class="flex-fill form-control prop-field my-2" type="text" name="username" placeholder="Username" required>
        			<input class="flex-fill form-control prop-field my-2" type="password" name="password" placeholder="Password" required>
        	        <button type="submit" class="btn btn-primary btn-block btn-lg mt-3" value="login">Login</button>
        	    </form>
        	</div>
			<div class="container mt-5 shadow-lg w-100 p-3 mb-5 bg-white rounded">
                <a href="/user/register/?action=register"  class="btn btn-primary btn-secondary btn-block">Sign up</a>
			    <a href="/user/resetpass/"  class="btn btn-primary btn-secondary btn-block">Forgot password?</a>
			</div>
		</div>
    </body>
</html>

