<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ .LayoutSectionTitle }}</title>
        {{ assets_css "/static/vendor/bootstrap-4.5.3/css/bootstrap.min.css" }}
        {{ assets_css "/static/css/layout.css" }}
        {{ .LayoutSectionStyle }}
    </head>
    <body>
        {{ template "base/nav.html" . }}

        <div class="container-fluid">
            {{ .LayoutContent }}
            <div>{{ .LayoutSectionFooter }}</div>
        </div>
        {{ .LayoutSectionScript }}
    </body>
</html>
