<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> Role Manage </title>
        <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap-4.5.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container bg-primary w-25 mt-4 shadow p-3 mb-5 rounded">
            <h3 class="text-center"> This is RoleManager </h3>
        </div>
       <div class="container bg-dark text-light">
           <h4 class="text-center">Not implemented.</h4>
		<div class="container shadow-md bg-white col-12">
			<a class="btn btn-primary w-100" href="/user/home/">HOME</a>
		</div>
       </div>
    </body>
</html>
