<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
		<title> Home </title>
	</head>
	<body style="background-color:powderblue;">
	    <h1> USER MANAGEMENT </h1>
	    <p>A simple user management system based on beego.</p>
        <h2>Personal blog: <a href="https://www.suosuoli.cn" target="_blank">suosuoli.cn</a></h2>
	    <table border="2">
            <thead>
	        <tr>
	            <td>ID</td>
	            <td>Name</td>
                <td>Sex</td>
	            <td>Address</td>
	            <td>Cell</td>
	            <td>Born</td>
	            <td>Passwd</td>
	        </tr>
        </thead>
        <tbody>
	        {{ range .users }}
	        <tr>
	            <td>{{ .ID }}</td>
	            <td>{{ .Name }}</td>
                <td>{{ if eq .Sex 1 }} male {{ else }} female {{ end }}</td>
	            <td>{{ .Address }}</td>
	            <td>{{ .Cell }}</td>
	            <td>{{ .Born }}</td>
                <td>{{ .Passwd }}</td>
                <td>
                    <a href="/user/edit/?id={{ .ID }}">Edit</a>
                </td>
                <td>
                    <!-- Do you really want to submit the form? -->
				    <form action="/user/delete/?id={{ .ID }}" onsubmit="return confirm('Are you sure to delete user {{ .Name }} by id {{ .ID }} ?');" method="POST">
					<button type="submit" formmethod="POST">Delete</button>
					</form>
                </td>
            </tr>
            {{ end }}
        </tbody>
        </table>
        <h2><a href="/user/create/">Creat New User</a><h2>
        <h2><a href="/user/query/">Query User</a><h2>
	</body>
