<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>用户管理</title>
    </head>
    <body>
    <a href="/add/">新建用户</a> <br/>
    <form action="/" method="post">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>性别</th>
                <th>住址</th>
                <th>电话</th>
                <th>生日</th>
                <th>密码</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td><input name="id" value="{{ .Id }}"/></td>
            <td><input name="name" value="{{ .Name }}"/></td>
            <td><input name="sex" value="{{ .Sex }}"/></td>
            <td><input name="addr" value="{{ .Addr }}"/></td>
            <td><input name="phone" value="{{ .Tel }}"/></td>
            <td><input name="birthday" value="{{ .Birthday }}"/></td>
            <td></td>
            <td>
                <input type="submit" value="查询"/>
            </td>
        </tr>
            {{ range .Userinfos }}
            <tr>
                <td>{{ .Id }}</td>
                <td>{{ .Name }}</td>
                <td>{{ .Sex }}</td>
                <td>{{ .Addr }}</td>
                <td>{{ .Tel }}</td>
                <td>{{ .Birthday }}</td>
                <td>{{ .Password }}</td>
                <td>
                    <a href="/update/?Id={{.Id}}">编辑</a>
                    <a href="/delete/?Id={{.Id}}">删除</a>
                </td>
            </tr>
                {{ end }}
        </tbody>
    </table>
    </form>
    </body>
</html>