<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> Reset Password </title>
        <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap-4.5.3/css/bootstrap.min.css">
    </head>
    <body>
		<div class="container mt-5 shadow-lg w-50 p-3 mb-5 bg-white rounded">
		<h2 class="text-center"> Reset Password </h2>
		</div>
		<div class="container mt-5 shadow-lg w-50 p-3 mb-5 bg-white rounded">
		<form method="POST">
			<div class="form-group">
  			  <label for="oldpass">Enter old pass</label>
  			  <input type="password" class="form-control" id="oldpass" name="oldPassword" required>
  			</div>
  			<div class="form-group">
  			  <label for="newpass">Set your new pass</label>
  			  <input type="password" class="form-control" id="newpass" name="newPassword" required>
  			</div>
  			<button type="submit" class="btn btn-primary">ResetPass</button>
		</form>
		</div>
    </body>
</html>
