<h3>统计结果</h3>
<script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    $.get('/loganalysis/dataapi?fileid={{.data.Fid}}', function (data) {
        myChart.setOption({
            series : [
                {
                    name: '访问来源',
                    type: 'pie',    // 设置图表类型为饼图
                    radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                    data:data.Datapie,

                    itemStyle:{
                        normal:{
                            label:{
                                show: true,
                                formatter: '{b} : {c} ({d}%)'
                            },
                            labelLine :{show:true}
                        }
                    }

                },

            ]
        })
    }, 'json')

</script>

<table class="table">
    <thead>
    <tr>
        <th>IP</th>
        <th>访问次数</th>
    </tr>
    </thead>
    <tbody>
    {{range .data.Ipdata}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Value}}</td>
        </tr>
    {{end}}
    </tbody>
</table>